meta(charset='utf-8')
meta(property='og:url', content='https://kawpaa.eiurur.xyz')
meta(property='og:site_name', content='Kawpaa')
meta(property='og:title', content='Kawpaa')
meta(property='og:description', content='あとで抜く')
meta(property='og:author', content='eiurur')
meta(property='og:locale', content='ja_JP')
meta(property='og:image', content='https://kawpaa.eiurur.xyz/front/images/ogp.png')
meta(property='twitter:card', content='summary')
meta(http-equiv='X-UA-Compatible', content='IE=edge')
meta(name='viewport', content='width=device-width, initial-scale=1')
meta(name="theme-color", content="#5c5edc")
meta(name='description', content='あとで抜く')
meta(name="keywords", content="射精管理,オナニー,エロ,ero,porn,18禁,masterbation,hentai,danbooru,sankaku,yandere,2chan,twitter,tumblr,pixiv")
meta(name="google-site-verification", content="UdWpI2XMBNvCb2SvZMDBjHREfrlwWNEBLZX5feyTSiI")
