if process.env.NODE_ENV == "production"
  script(src="front/js/vendors/lib.min.js")
  script(src="front/js/vendors/angular-lib.min.js")
  script(src="front/js/main.min.js")
  script(src="https://spope.github.io/MiniMasonry.js/minimasonry.min.js")
  script.
    (function(i,s,o,g,r,a,m){i["GoogleAnalyticsObject"]=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,"script","//www.google-analytics.com/analytics.js","ga");
    ga("create", "UA-42893827-19", "auto");
else
  script(src="front/js/vendors/lib.js")
  script(src="front/js/vendors/angular-lib.js")
  script(src="front/js/main.js")
  script(src="https://spope.github.io/MiniMasonry.js/minimasonry.min.js")