@media (min-width: 993px) {
  .header-container {
    .header {
      height: 0px;
    }
  }
  nav {
    display: none;
  }

  /**
   * share icons
   */
  .share-icons {
    position: absolute;
    display: flex;
    justify-content: space-between;
    bottom: 3rem;
    left: 0;
    right: 0;
    list-style: none;
    margin: 0;
    padding: 0 3rem;
    flex-direction: row-reverse;
  }

  .share-icons li {
    display: inline;

    @include link($fa-color);
    .fa {
      padding-right: 4px;
      font-size: 130%;
    }
  }
}
