@charset "utf-8";

// @import "compass";
@import 'variables';
@import 'mixins';
@import 'functions';
@import 'commons';

@import 'primitive';

@import 'ad';

@import 'header';

@import 'sidebar';

@import 'item';

@import 'best';

@import 'dashboard';

@import 'checkbox';

@import 'account';

@import 'login';

@import 'history';

@import 'post';

@import 'shortcut';

@import 'stats';

@import 'search';

@import 'pagination';

@import 'unearth';

@import 'loader';

@import 'bootstrap';

@import 'entire_style';

@import 'desktop';

@import 'tablet';

@import 'smartphone';

// https://hayashikejinan.com/webwork/css/913/
.fa-hatena {
  &:before {
    content: 'B!';
    font-family: Verdana;
    font-weight: bold;
  }
}

button:focus > span {
  color: $text-color;
  mix-blend-mode: difference;
}
