.item__control
  .item__control--contents
    .item__control--contents--icons.flex-center
      i.fa__size--sm.clickable.fa.fa-inbox.icon-inbox(post-object-id='{{::post._id}}', posts="postList",add-inbox, title='Inboxに追加')