.item__title(ng-class="{'item__title-image': post.type == 'image'}")
  a.item__title-anker(title="{{::post.title}}", href="{{::post.siteUrl}}", target="_blank", rel="noopener nofollow") {{::post.title}}