//- .col-md-12(ng-controller='PostListCtrl')
//-   .section
//-     .dashboard
//-       include ../parts/_search_box
//-       include ../parts/initial_pages/_factory
//-       include ../parts/_post_container