.col-md-12
  .section
    .stats__container
      .stats__section
        .stats__header 
          | Total Activity 
        stats-counter-container
      .stats__section
        .stats__header 
          | Yearly Ranking
        stats-ranking-container