h3.description__section
  | オカズの追加方法

.description
  | オカズ(リンク、画像、動画)の追加にはChrome Extensionを利用する必要があります。

.descriptio
  ① 以下のURLから最新版のChrome Extensionをダウンロードしてください。 (例) Save.to.Kawpaa.v0.14.0.zip<br>
  p
  p
    a(href="https://github.com/eiurur/Save-to-Kawpaa/releases", target="_blank", rel="noopener nofollow")
      | Releases · Save-to-Kawpaa
      i.fa.fa-external-link.zurui-icon-right

.description
  ② つぎに、ダウンロードしたZIPファイルを <a href="chrome://extensions" target="_blank", rel="noopener nofollow">chrome://extensions</a> にDrag&Dropしてください。<br>
  
  img.img-responsive(src='https://github.com/eiurur/Save-to-Kawpaa/raw/master/images/description/drop.jpg')


.description
  ③ 以下のトークンをChrome Extensionのオプションページに入力してください。<br>
  pre
    code
      {{user.twitter_token}}

.description
  | オプションページを開くには、Chrome Extensionのアイコンを右クリックしてメニューを開きます。
  br
  | 「オプション」をクリックするとオプションページが開かれます。
  img.img-responsive(src='https://github.com/eiurur/Save-to-Kawpaa/raw/master/images/description/open_option.jpg')

.description
  ④ トークンをコピペしてください。
  img.img-responsive(src='https://github.com/eiurur/Save-to-Kawpaa/raw/master/images/description/copy.png')

.description
  これで準備は完了です。気に入ったオカズをストックしてみてください。

