search-condition

.row
  .col-sm-12.col-md-12.col-lg-12
    search-box
    .search-controls
      .common
        input#random(type='checkbox', ng-model='random')
        label(for='random') Random

    