ul.share-icons　
  li
    a.clickable(href='http://b.hatena.ne.jp/entry/https://kawpaa.eiurur.xyz', title="bookmark on Hatena Bookmark", target='_blank')
      i.fa.fa-hatena

  li
    a(href='https://twitter.com/kawpaa', target='_blank', title='Twitter')
      i.fa.fa-twitter

  li
    a(href='https://github.com/eiurur/Save-to-Kawpaa', target='_blank', title='Save to Kawpaa')
      i.fa.fa-github